* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

#card {
    height: 500px;
    width: 300px;
    background-color: bisque;


    border-radius: 5%;
    padding: 4px 4px;
    text-align: center;
    padding: 20px;
}

#card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;

}

#card h1 {
    font-size: 35px;

}

#card h4 {
    font-size: 17px;
    margin-bottom: 20px;

}

#card button {
    background-color:grey
    color: black;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 200;
}

#card #remove {
    background-color: rgb(114, 110, 110);
}